:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --navbar-height:38.4px;
    --header-height:120px;
    --search-height:calc(var(--header-height) - var(--navbar-height));
    
}
*{
    box-sizing: inherit;
    padding:0;
    margin:0;
}

html{
    font-size: 62.5%;
    line-height:1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width:100%;
    margin: 0 auto;
}
.grid__full-width{
    width:100%;
}
.grid__row {
    display:flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid__column-2{
    padding:0 12px;
    width:calc(100% / 6 );
}
.grid__column-10{
    padding:0 12px;
    width:calc(100% / 6 * 5);
}
.grid__column-2x5{
    padding:0 12px;
    width:20%;
}